@charset "ISO-8859-1";
/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .body {
    margin-top: 20px;
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
    height: 500px;
}


/* NavbarTop */
.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 70px;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 75%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    bottom:9px;
    width: 300px;
    left: 10px;
}

.profile {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}

/* End */

/* Main */
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 17%;
}

.social-media {
    text-align: center;
    width: 90%;
}

.social-media span {
    margin: 0 10px;
}

.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
}

/* End */
header
{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
html::-webkit-scrollbar{
    width: 10px;
}
.bar{
    position: relative;
    width: 100%;
    height: auto;
}
.logo
{
    width: 40%;
    float: left;
    text-align: center;
    padding: 10px;
}
.logo .name{
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke:1px #fff;
    background-image: url(img/p5.jpg);
    -webkit-background-clip:text;
    background-position: 0 0;
    animation: p4 20S linear infinite;
}
@keyframes p4{
    100%{
        background-position: 2000px 0;
    }
}
.logo .p{
    color: white;
    text-shadow: 3px 5px 2px gray;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cx{
    width:60% ;
    float: left;

}
.icon ul li{
    list-style: none;
    float: right;
    padding: 10px;
    margin: 20px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}
.icon ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
.icon ul li a:after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-60%);
    background: #fff;
    transition: width 0.3s;
}
.icon ul li a:hover:after{
    width: 60%;
    color: red;
}
header:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #33AFFF;
     border-radius: 0 0 50% 50%;
}
.logo h3{
    padding-top: 30px;
    color: white;
}
.logo a{
    background:#33AFFF;
    color: #f5f5f5;
    
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    text-decoration: none;
}
.logo a:hover{
    color:#1A58B4;
}
.bord{

    border: 1px solid #E5E7E9;
    margin: 10px;
}
footer{
    width: 100%;
    height: 300px;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 2px solid #e5e5e5;
    display: flex;
    justify-content:space-around;
}
footer .but p{
    margin: 30px auto;
    font-weight: bold;
}
footer .but ul li{
    list-style: none;
    margin: 10px auto;
}
footer ul li a{
    text-decoration: none;
    color: #757575;
}
footer  .but ul li a:hover{
    color:#33AFFF;
}