@charset "ISO-8859-1";
.seat_box{
	width: 100%;
	height: auto;
	border: 1px solid  #F4F6F7 ;
	position: relative;
	display: flex;
}
.seat_1{
	width: 45%;
	height: auto;
	border: 1px solid  #E5E7E9;
	margin: 10px;
	margin-left: 50px;
}
.seat_text{
	width: 100%;
	height: 50px;
	background-color: #E5E7E9;
	padding: 10px;
}
.seat_2 table{
	margin: 10px;
}
.seat_2{
	width: 50%;
	height: 320px;
	border: 1px solid  #E5E7E9;
	margin: 10px;
}
.seat_2 td{
	width: 300px;
	padding: 20px;

}
.seat_2  .mmk{
	color: green;
}
.seat_2 .tb{
	background-color:#F4F6F7 ;
}
.seat_3{
	position: absolute;
	width: 49%;
	border: 1px solid #E5E7E9;
	height: 210px;
	top: 600px;
	right:15px
}
.seat_3 p{
	padding: 10px;
}
.seat_3 h3{
	padding: 15px;
	padding-left: 300px;
	color: red;
}
.seat_3 button{
	width: 280px;
	height: 35px;
	background-color:  #33AFFF;
	margin-left: 15px;
	border-radius: 5px;
	border: 1px solid white;
}
.seat_3 button:hover{
	background-color:#3742fa;
}
.Traveller{
	width: 100%;
	height: auto;
	display: flex;
	border: 1px solid #E5E7E9;
	padding: 10px;
}
.Traveller_1{
	width: 49%;
	height: auto;
	border: 1px solid #E5E7E9;
	margin: 10px;
}
.Traveller_2{
	width: 49%;
	height: 450px;
	border: 1px solid #E5E7E9;
	margin: 10px;
}
.Traveller_text {
	width: 100%;
	height: 50px;
	background-color: #E5E7E9;
	padding: 15px;
}
.Traveller_1 .inp{
	width: 90%;
	margin-left: 20px;
	height: 40px;
	border: 2px solid #E5E7E9;
	border-radius: 5px;
}
.Traveller_1 input{
	margin-left: 20px;
}
.Traveller_1 p{
	padding: 10px;
	padding-left: 20px;
	padding-top: 30px;
}
.Traveller_1 button{
	margin: 10px;
	width: 256px;
	height: 35px;
	background-color:  #33AFFF;
	margin-left: 15px;
	border-radius: 5px;
	border: 1px solid white;
}
.Traveller_1 button:hover{
	background-color:#3742fa;
}
.Traveller_2 table{
	margin: 10px;
}
.Traveller_2 td{
	width: 300px;
	padding: 20px;
}
.Traveller_2 .dop{
	border-top: 1px dashed black;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* This will make both sections equally tall */
    padding: 20px;
    margin: 20px;
} 
.plane {
             flex: 1; /* This will make the plane section take up as much space as possible */
    max-width: 700px;
           
        }
        
        .exit {
            position: relative;
            height: 50px;
        }
        
        .exit:before,
        .exit:after {
            content: "EXIT";
            font-size: 14px;
            line-height: 18px;
            padding: 0px 2px;
            font-family: "Arial Narrow", Arial, sans-serif;
            display: block;
            position: absolute;
            background: green;
            color: white;
            top: 50%;
            transform: translate(0, -50%);
        }
        
        .exit:before {
            left: 0;
        }
        
        .exit:after {
            right: 0;
        }
        
        .fuselage {
            border-right: 5px solid #d8d8d8;
            border-left: 5px solid #d8d8d8;
        }
        
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .seats {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
        
        .seat {
            display: flex;
            flex: 0 0 17%;
            padding: 5px;
            position: relative;
            margin-left: 10px;
        }
        
        .seat:nth-child(3) {
            margin-right:4%;
        }
        .seat input[type=checkbox] {
            position: absolute;
            opacity: 0;
        }
        
        .seat input[type=checkbox]:checked+label {
        	  background: #bada55;
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
            animation-duration: 300ms;
            animation-fill-mode: both;
        }
        .seat input[type=checkbox]:disabled+label {
            background: #dddddd;
            text-indent: -9999px;
            overflow: hidden;
        }
        
        .seat input[type=checkbox]:disabled+label:after {
            content:'\1F512';
            text-indent: 0;
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        
        .seat input[type=checkbox]:disabled+label:hover {
            box-shadow: none;
            cursor: not-allowed;
        }
        
        .diver {
            background-color:#F42536 ;
            color: black;
        }

        .seat label.diver {
            background:  #E5E7E9;
            border-radius: 5px;
            color: black;
        }
        
        .seat label {
            display: block;
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5rem;
            padding: 4px 0;
            background: #87CEEB;
            border-radius: 5px;
            animation-duration: 300ms;
            animation-fill-mode: both;
        }
        
        .seat label:before {
            content: "";
            position: absolute;
            width: 75%;
            height: 75%;
            top: 1px;
            left: 50%;
            transform: translate(-50%, 0%);
            background: rgba(255, 255, 255, 0.4);
            border-radius: 3px;
        }
        
        .seat label:hover {
            cursor: pointer;
            box-shadow: 0 0 0px 2px #5C6AFF;
        }



        .info{
          margin-left: 500px;
        }
        
        @-webkit-keyframes rubberBand {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }
            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }
            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }
            65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
            }
            75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
            }
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        
        @keyframes rubberBand {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            30% {
                -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
            }
            40% {
                -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
            }
            50% {
                -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
            }
            65% {
                -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
            }
            75% {
                -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
            }
            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }
        
        .rubberBand {
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
        }